@import "tailwindcss";

@theme {
  --color-background: #09090b;
  --color-foreground: #fafafa;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  background-image: radial-gradient(circle at 50% 0%, #1e1b4b 0%, #09090b 50%);
  background-attachment: fixed;
}
